services:
  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    restart: unless-stopped

  # migrations image
  migrations:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: migrations
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/postgres?sslmode=disable
      DBMATE_WAIT_TIMEOUT: "10s"
    entrypoint: ["dbmate"]
    command: ["--migrations-dir", "/app/migrations", "migrate"]
    restart: "no"
